.product-sections {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  max-width: 1110px;
}
.product-sections {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.heading {
  font-family: 'Roboto';
  font-size: 30px;
  margin: 60px;
}
.card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  padding: 3px;
  border: 1px solid;
  margin: 10px;
  height: 50vh;
  width: 22vw;
}
.photo {
  margin-top: 10px;
  margin: 5px;
  height: 200px;
  width: 200px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.name {
  font-family: 'Roboto';
  font-size: 27px;
}
.age {
  font-family: 'Roboto';
  font-size: 20px;
}
